[submodule "backyard-buildings-stl"]
	path = backyard-buildings-stl
	url = https://github.com/TidyTails/backyard-buildings-stl.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/TidyTails/tidytails-dashboard.git
[submodule "motra-dashboard"]
	path = motra-dashboard
	url = https://github.com/TidyTails/motra-landing.git
[submodule "tidy-tails/website"]
	path = tidy-tails/website
	url = https://github.com/TidyTails/tidytails-website.git
